<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>卡努安全支付</title>
    
	<script type="text/javascript">		

		function callpay()
		{
			
                    if(confirm("是否支付？")) 
                    {
                        //如果是true 
                        $.post("{:U('')}",{order_sn:{$info.order_sn}},function(data){
                            if(data.status==0)
                            {
                                alert(data.info);                                
                            }
                            location.href="{:U('Order/index')}";
                        },'json');
                        
                    }
                    else
                    {
                      location.href="{:U('Order/index')}";

                    }
			
		}
	</script>
</head>
<body>
	
</body>
</html>
<js href="/Public/Mobile/js/jquery-1.12.1.min.js"/>
<script type="text/javascript">
    window.onload=function(){
      callpay();
}
</script>