<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>api tools</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <div>
            <form action="{:U('')}" method="post">
                请求连接 http://diancan.kanuvip.com/api.php?<input name="link" value="{$link}"/><br />
                参数1 参数名 <input name="key[]" value="{$key[0]}"/> 参数值 <input name="param[]"  value="{$param[0]}"/><br />
                参数2 参数名 <input name="key[]" value="{$key[1]}"/> 参数值 <input name="param[]"  value="{$param[1]}"/><br />
                参数3 参数名 <input name="key[]" value="{$key[2]}"/> 参数值 <input name="param[]"  value="{$param[2]}"/><br />
                参数4 参数名 <input name="key[]" value="{$key[3]}"/> 参数值 <input name="param[]"  value="{$param[3]}"/><br />
                参数5 参数名 <input name="key[]" value="{$key[4]}"/> 参数值 <input name="param[]"  value="{$param[4]}"/><br />
                参数6 参数名 <input name="key[]" value="{$key[5]}"/> 参数值 <input name="param[]"  value="{$param[5]}"/><br />
                参数7 参数名 <input name="key[]" value="{$key[6]}"/> 参数值 <input name="param[]"  value="{$param[6]}"/><br />
                参数8 参数名 <input name="key[]" value="{$key[7]}"/> 参数值 <input name="param[]"  value="{$param[7]}"/><br />
                参数9 参数名 <input name="key[]" value="{$key[8]}"/> 参数值 <input name="param[]"  value="{$param[8]}"/><br />
                参数10 参数名 <input name="key[]" value="{$key[9]}"/> 参数值 <input name="param[]"  value="{$param[9]}"/><br />
                是否签名 <input name="sign" value="1" <if condition="!empty($sign)"> checked="checked"</if> type="checkbox"/><br />
                <input type="submit" value="请求"/>
            </form>
            </div>
    </body>
</html>
