<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>跳转中……</title>
<style>
html { height:100%;}
a{text-decoration:none;}
body { height:100%; text-align:center; background:transparent; font-size:12px;}
.center_div { display:inline-block; zoom:1; *display:inline;  width:200px; padding:10px; }
.loading_block{border: 1px #2a85a0 solid; width:506px; height:160px;margin-top: 120px}
.loading_onclick{text-align:right; padding:28px 25px 0 0}
.loading_bar{margin-top:0;}
.loading_bar p{font-size: 24px}
</style>
</head>
<body>
<div class="center_div loading_block">
  <div class="loading_bar">
      温馨提示:
      <p>
        <?php if(isset($message)) {?>        
        <?php echo($message); ?>
        <?php }else{?>       
        <?php echo($error); ?>
        <?php }?>
      </p>
      <img src="/Public/Admin/images/loading_page.gif" width="220" height="19" />
  </div>
  <div class="loading_onclick">
      页面自动 <a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> 等待时间： <b id="wait"><?php echo($waitSecond); ?></b></div>
</div>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script>
</body>
</html>