<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>上传</title>
        <css href="/Public/uploadstyle/style.css" />
        <js href="/Public/js/jquery-1.3.2.min.js"/>        
        <js href="/Public/js/artDialog/jquery.artDialog.js?skin=default"/>
        <js href="/Public/js/artDialog/plugins/iframeTools.js"/>
        <script language="javascript" type="text/javascript">
            function startUpload() {
                document.getElementById('f1_upload_process').style.visibility = 'visible';
                document.getElementById('f1_upload_form').style.visibility = 'hidden';
                return true;
            }

            function stopUpload(success, furl) {
                var result = '';
                if (success == 1) {
                    var dom = artDialog.open.origin.document.getElementById('{$domid}');
                    dom.value = furl;
                    art.dialog.close();
                    return;
                }
                else {
                    result = '<span class="emsg">' + furl + '<\/span><br/><br/>';
                }
                document.getElementById('f1_upload_process').style.visibility = 'hidden';
                document.getElementById('f1_upload_form').innerHTML = result + '<label>File: <input name="myfile" type="file" size="30" /><\/label><label><input type="submit" name="submitBtn" class="sbtn" value="上传" /><\/label>';
                document.getElementById('f1_upload_form').style.visibility = 'visible';
                return true;
            }
        </script>   
    </head>

    <body>
        <div id="container">
            <div id="header"><div id="header_left"></div>
                <div id="header_main">上传组件</div><div id="header_right"></div></div>
            <div id="content">
                <form method="post" enctype="multipart/form-data" target="upload_target" onsubmit="startUpload();" >
                    <p id="f1_upload_process">上传中...<br/><img src="/Public/uploadstyle/images/loader.gif" /><br/></p>
                    <p id="f1_upload_form" align="center"><br/>
                        <label>File:  
                            <input name="myfile" type="file" size="30" />
                        </label>
                        <label>
                            <input type="submit" name="submitBtn" class="sbtn" value="上传" />
                        </label>
                    </p>
                    <iframe id="upload_target" name="upload_target" src="#" style="width:0;height:0;border:0px solid #fff;"></iframe>
                </form>
            </div>
            <div id="footer"></div>
        </div>
    </body>   
</html>